<!DOCTYPE html>
<html>
<head>
  <title>warmglow</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="index.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="logos/wgsmaller.png">
</head>
<body >
<div id="app" :style="{'overflow-y':showOverlay? 'hidden' : 'scroll'}">

  <nav>
    <!-- site navigation -->
    <a href="#about">
      <h1>warmglow</h1>
    </a>

    <ul>
      <li>
        <a href="#art">
          <img SRC="logos/paintbrush.gif" class=sectionLogo>
          <h1>art</h1>
        </a>
      </li>
      <li>
        <a href="#music">
          <img SRC="logos/musicnote.gif" class=sectionLogo>
          <h1>music</h1>
        </a>
      </li>
      <li>
        <a href="#games"><img SRC="logos/controller.gif" class=sectionLogo>
          <h1>games</h1>
        </a>
      </li>
      <li>
        <a href="#about"><img SRC="logos/questionmark.gif" class=sectionLogo>
          <h1>about</h1>
        </a>
      </li>
    </ul>
  </nav>

  <main>

    <!-- about -->
    <div id="about" class="section">
      <h1>about</h1>
      <p>We are making and promoting art, music, and games.</p>
      <p>Email: ryanhaight444@gmail.com</p>

    </div>

    <!-- art -->
    <div id="art" class="section">
      <h1>art</h1>

      <h2> - pixelart</h2>
      <div class="grid">
        <art-item
          v-for="(item, i) in pixelArt"
          :item="item"
          :key="i"
          :folder="'pixelart'"
          v-on:art-item-clicked="openOverlay"
        ></art-item>
      </div>

      <h2> - acrylic </h2>
      <div class="grid">
        <art-item
          v-for="(item, i) in acrylic"
          :key="i"
          :folder="'paintings'"
          :item="item"
          v-on:art-item-clicked="openOverlay"
        ></art-item>
      </div>

      <h2> - watercolor </h2>
      <div class="grid">
        <art-item
          v-for="(item, i) in watercolor"
          :key="i"
          :folder="'paintings'"
          :item="item"
          v-on:art-item-clicked="openOverlay"
        ></art-item>
      </div>
    </div>

    <!-- music -->
    <div id="music" class="section">
      
      <h1>music</h1>

      <audio controls>
        <source src="mp3s/CoralFields.mp3" type="audio/mpeg">
      </audio>

      <audio controls>
        <source src="mp3s/Order.mp3" type="audio/mpeg">
      </audio>

    </div>

    <!-- art -->
    <div id="games" class=section>
      <h1>games</h1>
      <p>Some games goes here</p>
    </div>

  </main>

  <modal-overlay
    v-show="showOverlay"
    @overlay-clicked="showOverlay = false"
    :item="overlayItem"
    :folder="overlayFolder"
    :ratio="overlayRatio"
  ></modal-overlay>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="index.js"></script>

</body>
</html>
